<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean class="com.cheerful.oj.geteway.test.A" id="a">
    <property name="b" ref="b"/>
  </bean>

  <bean class="com.cheerful.oj.geteway.test.B" id="b">
    <property name="a" ref="a"/>
  </bean>
</beans>